@{
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}
@model List<Hasta>

<div class="container">
    <div class="row">
        <h1 class="text-center animate__animated animate__flipInX">Hastalar</h1>
        <hr />
        <div class="col-4">
            <div class="Kart">
                <a class="KardButton" asp-controller="Hasta" asp-action="CreateHasta" class="btn btn-primary">New Hasta</a>
            </div>
        </div>
        <div class="col-8">
            <h3 class="text-center">Şu An Bulunan Hastalar</h3>
            <hr />
            <div id="body2">
                <div class="giris2">
                    <div class="form-box">
                        <div class="row">
                            <div class="container">

                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">Hasta Id</th>
                                            <th scope="col">Hasta Name</th>
                                            <th scope="col">Dateofbirth</th>
                                            <th scope="col">Hastalık bilgisi</th>
                                            <th scope="col">Doktor Name</th>
                                            <th scope="col">Gideceği servis</th>
                                            <th scope="col">İşlemmler</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.HastaId</td>
                                                <td>@item.HastaFullname</td>
                                                <td>@item.DateBirth</td>
                                                <td>@item.HastlıkBilgisi</td>
                                                <td>@ViewBag.doktorNameGonder[item.DoktorId]</td>
                                                <td>@ViewBag.doktorServisiNameGonder[item.DoktorId]</td>
                                                <td>
                                                    <a asp-controller="Hasta" asp-action="UpdateHasta" asp-route-id="@item.HastaId" class="btn btn-dark btn-sm" style="background-color:#3572EF;">update</a>
                                                    <a asp-controller="Hasta" asp-action="DeleteHasta" asp-route-id="@item.HastaId" class="btn btn-danger btn-sm">Sil</a>
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



