@{
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}
@model Hasta

<div id="body2">
    <div class="giris2">
        <div class="form-box">
          
            <form class="register" asp-controller="Hasta" asp-action="UpdateHasta">
                <p class="title">Hasta Günceleme </p>
                <div asp-validation-summary="All" class="message"></div>
                <input type="hidden" asp-for="@Model.HastaId" />

                <label>
                    <input class="input" asp-for="HastaFullname" value="@Model.HastaFullname">
                    <span>Fullname</span>
                </label>
                <label>
                    <input class="input" asp-for="DateBirth" value="@Model.DateBirth">
                    <span>DateofBirth</span>
                </label>
                <label>
                    <input class="input" asp-for="HastlıkBilgisi" value="@Model.HastlıkBilgisi">
                    <span>HastlıkBilgisi</span>
                </label>

                <label>
                    <select asp-items="@ViewBag.doktorlar" asp-for="DoktorId" class="selectBox" value="@Model.DoktorId">
                        <option disabled selected>Doktor Seçiniz</option>
                    </select>
                </label>
                <button type="submit" class="submit">Kaydet</button>
                <button class="submit" asp-action="ListHasta" asp-controller="Hasta">Geri dön</button>

            </form>

        </div>
    </div>
</div>
