@{
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}
@model List<Doktor>
<div class="container">
    <div class="row">
        <h1 class="text-center animate__animated animate__flipInX">Doktorlar</h1>
        <hr />
        <div class="col-4">
            <div class="Kart">
                <a class="KardButton" asp-controller="Doktor" asp-action="CreateDoktor" class="btn btn-primary">New Doktor</a>
            </div>
        </div>
        <div class="col-8">
            <h3 class="text-center">Şu An Hastanemizde bulunan Doktorlar</h3>
            <hr />
            <div id="body2">
                <div class="giris2">
                    <div class="form-box">
                        <div class="row">
                            <div class="container">

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Doktor Id</th>
                                            <th scope="col">Doktor Name</th>
                                            <th scope="col">Doktor Servisi</th>
                                            <th scope="col">İşlemmler</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.DoktorId</td>
                                                <td>@item.DoktorFUllname</td>
                                                <td>
                                                    @ViewBag.Alanlar[item.AlanId]
                                                </td>
                                                <td>
                                                    <a asp-controller="Doktor" asp-action="UpdateDoktor" asp-route-id="@item.DoktorId" class="btn btn-dark btn-sm" style="background-color:#3572EF;">update</a>
                                                    <a asp-controller="Doktor" asp-action="DeleteDoktor" asp-route-id="@item.DoktorId" class="btn btn-danger btn-sm">Sil</a>
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>